/* *{
  outline: 1px;
  border: green dotted 2px;
  margin: 0;
  padding:0;
} */

.container{
  margin-right:3em;
  min-width:100%;
  /* background-color: green; */
  /* width:100%; */
  height:100vh;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
        "nav"
        "icon"
        "Portrait"
        "content"
        "footer";
}

.aboutme3 a{
  color: black;
  opacity: 0.6;
  text-decoration: none;
  transition: 0.3s;
}
.aboutme3 a:hover {
  opacity: 1;
  color: lightskyblue;
}

.button1{
    grid-area:nav;
}

.button2{
    padding-left: 40px;
    grid-area:nav;
}

h2{
    padding-left: 85px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding-top: 20px;
    letter-spacing: .10em;
    grid-area:icon;
}
 
  body,html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background:white;
  }

  h3 {
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 0.13em;
    text-align: center;
    grid-area: content;
  }

  .aboutme {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    grid-area: content;
  }

  .aboutme2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    padding-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    grid-area: content;
  }

  .aboutme3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    padding-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 50px;
    grid-area: content;
  }

  .fa-instagram {
    padding-left: 20px;
    /* padding-top: 50px; */
  }

  /* ul { 
    margin: 150px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px;
    text-align: center;
  } */
  /* li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  } */
  
  /* nav {
    background-color: lightgray;
  } */
 nav a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
 nav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1.5px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
 nav a:hover:after { 
    width: 100%; 
    left: 0;
  }

/* footer{
  background-color: lightgray;
}  */

footer ul a{
  grid-area: footer;
  color: black;
    opacity: 0.6;
    text-decoration: none;
    transition: 0.3s;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
}

footer ul a:after {
  grid-area: footer;
}

footer ul a:hover {
  grid-area: footer;
  opacity: 1;
  color: lightskyblue;
}

@media screen and (max-width: 800px) {

    /* .container{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "h"
        "b"
        "c"
        "l"
        "r"
        "a"
        "e"
        "s"
        "f";
    } */
    /* .body{
        font-family: 'Roboto', sans-serif;
    } */
    

    li{
        font-weight: 300;
        display: inline;
    }
    footer{
      background-color: whitesmoke;
    } 
    img {
      width: 400px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      /* padding-top: 500px; */
      margin-top: 400px;
      border-radius: 50%;
      grid-area: Portrait;
  }

    .topnav {
        overflow: hidden;
        background-color: white;
    }
}

#Layer_1 {
    width: 350px;
    padding-top: 200px;
    padding-left: 70px;
    grid-area:icon;
  }
  
#Layer_1{
    -webkit-animation: color 5s ease infinite;
    -o-animation: color 5s ease infinite;
    -moz-animation: color 5s ease linear infinite;
    animation: color 5s ease infinite;
  }
  
  @keyframes color {
    0%, 100%{
    fill: #AFDFDF;
    }
    75% {
      fill: #F3B456;
    }
    50% {
    fill: #946BAE;
   }
    20% {
      fill: #F4ABAB;
    }
    }


    /* <!-- Button to get back to top of page --> */
    #back2Top {
      width: 5px;
      line-height: 5px;
      overflow: hidden;
      z-index: 999;
      display: none;
      cursor: pointer;
      -moz-transform: rotate(270deg);
      -webkit-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
      position: fixed;
      bottom: 20px;
      right: 0;
      /* background-color: #DDD; */
      color: #555;
      text-align: center;
      font-size: 30px;
      text-decoration: none;
  }
  #back2Top:hover {
      /* background-color: #DDF; */
      color: #000;
  }    




  /* Desktop styling below */
  @media (min-width:1040px){
    .container{
      width:100%;
      height:100vh;
      display:grid;
      grid-template-columns: 300px 1fr;
      grid-template-rows: auto;
      grid-template-areas:
            "icon content"
            "nav content"
            "nav content"
            "footer footer";
    }
    .fa-instagram {
      padding-left: 40px;
    }
    .content {
      grid-area: content;
      padding-top: 140px;
      background-image: url(website-background.svg);
      background-repeat: no-repeat;
    }
    .sidebar {
      grid-area: nav;
      background-color: whitesmoke;
      text-align: left;
    }
    .icon{
      background-color: whitesmoke;
    }
    h3 {
      padding-top: 50px;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 50px;
      text-transform: uppercase;
      letter-spacing: 0.13em;
      /* text-align: center; */
    }
    .gdill {
      background-color: whitesmoke;
    }
    body,html {
      margin: 0;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      background:white;
    }
    h2{
      padding-left: 0px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 15px;
      /* padding-top: 20px; */
      letter-spacing: .10em;
      grid-area: icon;
      color: whitesmoke;
  }
  .topnav {
    overflow: hidden;
    background-color: white;
    }
  .button2{
      padding-left: 20px;
  }
    nav ul {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      grid-area: nav;
    }
    li{
      font-weight: 300;
      display: inline;
     }
     .hero img {
      width: 450px;
      /* display: block; */
      margin-left: auto;
      margin-right: 50px;
      border-radius: 20%;
      grid-area: content;
      float: right;
      }
      footer ul {
        max-width: 960px;
        margin: 0 auto;
        padding: 2em;
      }
      .aboutme {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 300;
        text-align: left;
        grid-area: content;
        margin-left: 50px;
        padding-top: 20px;
      }
      .aboutme2 {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 300;
        text-align: left;
        padding-top: 15px;
        margin-left: 50px;
        margin-right: 550px;
      }
      .aboutme3 {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 300;
        text-align: left;
        padding-top: 20px;
        margin-left: 50px;
        margin-right: 550px;
        padding-bottom: 50px;
      }
      #Layer_1 {
        width: 200px;
        padding-top: 50px;
        padding-left: 60px;
        grid-area: icon;
      }
    #Layer_1{
        -webkit-animation: color 5s ease infinite;
        -o-animation: color 5s ease infinite;
        -moz-animation: color 5s ease linear infinite;
        animation: color 5s ease infinite;
      }
      @keyframes color {
        0%, 100%{
        fill: #AFDFDF;
        }
        75% {
          fill: #F3B456;
        }
        50% {
        fill: #946BAE;
       }
        20% {
          fill: #F4ABAB;
        }
        }
        nav {
          background-color: whitesmoke;
          grid-area: nav;
        }
        nav a {
          color: black;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 0.15em;
          display: inline-block;
          padding: 15px 20px;
          position: relative;
        }
       nav a:after {    
          background: none repeat scroll 0 0 transparent;
          bottom: 0;
          content: "";
          display: block;
          height: 1.5px;
          left: 50%;
          position: absolute;
          background: black;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }
       nav a:hover:after { 
          width: 100%; 
          left: 0;
        }
      footer{
        /* background-color: White; */
        grid-area: footer;
        padding-left: 250px;
      }   
      footer ul a{
        color: black;
          opacity: 0.6;
          text-decoration: none;
          transition: 0.3s;
          letter-spacing: 5em;
          display: inline-block;
          padding: 15px 20px;
      }
      footer ul a:hover {
        opacity: 1;
        color: lightskyblue;
      }
      .aboutme3 a{
        color: black;
        opacity: 0.6;
        text-decoration: none;
        transition: 0.3s;
      }
      .aboutme3 a:hover {
        opacity: 1;
        color: lightskyblue;
      }
  }  