.body {
    font-family: 'Roboto', sans-serif;
}

.content {
    grid-area: content;
  }
  
  .sidebar {
    grid-area: sidebar;
    background-color: lightseagreen;
    justify-content: center;
  }
  
  .footer {
    grid-area: footer;
    background: white;
  }
  
  .container {
    font-size: 1.5em;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "sidebar"
        "content"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 130px 800px 250px;
  }
  
  .content,
  .sidebar,
  .footer {
    padding: 1em;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  
  nav li {
    list-style: none;
    padding: 1em 0;
  }
  
  nav li a {
    color: white;
    font-weight: 300;
    opacity: 0.6;
    text-decoration: none;
    transition: 0.3s;
  }

  nav li a:hover {
      opacity: 1;
  }

  .hero {
      max-width: 960px;
      margin: 0 auto;
      text-align: center;
  }

  .hero img {
      width: 200px;
  }

  .hero h1 {
      font-size: 2em;
      font-weight: 300;
      color: black;
  }

  .hero p {
      font-weight: 300;
      line-height: 1.8em;
      color: orange;
  }

  footer ul {
      max-width: 640px;
      margin: 2em auto;
      padding: 0;
      text-align: center;
      display: flex;
      flex-direction: row;
  }
  
  footer ul li {
      list-style: none;
      align-self: flex-end;
  }

  footer ul li a {
      text-decoration: none;
      color: green;
  }

  